# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Ollama
ollama.log
